<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Falcosidekick UI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
    .tag:not(body).is-white.is-emergency {
        background-color: #e20b0b;
        color: #ffffff;
    }

    .tag:not(body).is-white.is-alert {
        background-color: #ff5400;
        color: #ffffff;
    }

    .tag:not(body).is-white.is-critical {
        background-color: #ff5400;
        color: #ffffff;
    }

    .tag:not(body).is-white.is-error {
        background-color: #e20b0b;
        color: #ffffff;
    }

    .tag:not(body).is-white.is-warning {
        background-color: #ffc700;
    }

    .tag:not(body).is-white.is-notice {
        background-color: #5bffb5;
    }

    .tag:not(body).is-white.is-informational {
        background-color: #68c2ff;
    }

    .tag:not(body).is-white.is-debug,
    .tag:not(body).is-white.is-none {
        background-color: #ccfff2;
    }
</style>

<body>
    <div id="app">
        <section class="hero is-link is-small">
            <div class="hero-body">
                <div class="container">
                    <img width="6%" style="float: left; margin: 0px 30px 0px 0px;"
                        src="https://raw.githubusercontent.com/falcosecurity/falcosidekick/master/imgs/falcosidekick_color.png">
                </div>
                <div class="container">
                    <h1 class="title">
                        Falcosidekick UI
                    </h1>
                    <h2 class="subtitle">
                        Latest Events from Falco
                    </h2>
                    <div id="config" class="container" style="text-align:left;">
                        <config-list></config-list>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div id="events">
                    <event-list></event-list>
                </div>
            </div>
        </section>
    </div>

    <template id="config-list-tpl">
        <div>
            <span>Enabled outputs: </span>
            <span v-for="output in outputs" class="tag is-light" style="margin-right: 3px;">{{ output }}</span>
        </div>
    </template>

    <template id="event-list-tpl">
        <div>
            <!-- {{ stats["falco.priority"] }} -->
            <div class="field is-grouped is-grouped-multiline">
                <div class="control" v-for="[type, count] in statsArray" :key="type">
                    <div class="tags has-addons">
                        <span class="tag is-light">{{ count }}</span>
                        <span :class="['tag', 'is-white', colorClass(type), 'is-capitalized']">{{ type }}</span>
                    </div>
                </div>
                <div style="float: right;">
                    <input class="input is-small" type="text" placeholder="filter" v-model="filter" />
                </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Priority</th>
                            <th>Rule</th>
                            <th>Output</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="index in filteredEvents">
                            <td style="font-size: 80%;">
                                {{ index.time }}
                            </td>
                            <td>                                
                                <span :class="['tag', 'is-white', colorClass(index.priority)]" v-html="highlightMatches(index.priority)" />
                            </td>
                            <td>
                                <span class="tag is-info is-light" v-html="highlightMatches(index.rule)" />
                            </td>
                            <td style="font-size: 80%;">
                                <p v-html="highlightMatches(index.output)"style="margin-bottom: 15px;" />
                                
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control" v-for="(value, key) in index.output_fields">
                                        <div class="tags has-addons">
                                            <span class="tag is-light">{{ key }}</span>
                                            <span class="tag is-info is-light">{{ value }}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>

    <script>
        Vue.component("config-list", {
            template: "#config-list-tpl",
            data() {
                return {
                    outputs: []
                }
            },
            mounted() {
                axios.get('/outputs').then(resp => {
                    this.outputs = resp.data || []
                })
            }
        })
        
        Vue.component("event-list", {
            template: "#event-list-tpl",
            data() {
                return {
                    filter: '',
                    events: [],
                    stats: {
                        emergency: 0,
                        alert: 0,
                        critical: 0,
                        error: 0,
                        warning: 0,
                        notice: 0,
                        informational: 0,
                        debug: 0,
                        none: 0,
                    }
                }
            },
            computed: {
                filteredEvents() {
                    return this.events
                        .filter(row => {
                            const output = row.output.toLowerCase();
                            const rule = row.rule.toLowerCase();
                            const priority = row.priority.toLowerCase();
                            const searchTerm = this.filter.toLowerCase();

                            return output.includes(searchTerm)
                                || rule.includes(searchTerm) 
                                || priority.includes(searchTerm);
                        })
                        .reverse();
                },
                statsArray() {
                    return Object.entries(this.stats)
                }
            },
            methods: {
                refresh() {
                    axios.get("/events").then(resp => {
                        this.events = resp.data || []
                    })
                    axios.get("/debug/vars").then(resp => {
                        if (!resp.data || !resp.data['falco.priority']) return;

                        Object.keys(resp.data['falco.priority']).forEach(type => {
                            this.stats[type] = resp.data['falco.priority'][type]
                        });
                    })
                },
                highlightMatches(text) {
                    if (!this.filter) return text;

                    const matchExists = text.toLowerCase().includes(this.filter.toLowerCase());
                    if (!matchExists) return text;

                    const re = new RegExp(this.filter, 'ig');
                    return text.replace(re, matchedText => `<strong>${matchedText}</strong>`);
                },
                colorClass(priority) {
                    return `is-${priority.toLowerCase()}`
                }
            },
            mounted() {
                this.refresh()

                this.ws = new WebSocket("ws://" + window.location.host + "/ws");

                this.ws.onconnect = (evt) => {
                    console.log("ws connected", evt)
                }
                this.ws.onclose = (evt) => {
                    console.log("ws closed", evt)
                }
                this.ws.onmessage = (evt) => {
                    console.log("new event", evt)
                    this.$emit("newEvent", evt)
                    this.refresh()
                }
            }
        })
        
        new Vue({
            el: '#app'
        });
    </script>
</body>

</html>