name: tests

on:
  push:
    branches:
      - master
  pull_request:

permissions: {}

jobs:
  unit-tests:
    name: Run unit tests

    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.25'
          cache: false
          check-latest: true

      - name: Run Go tests
        run: make test
